body {
    margin-left: 16px;
}

header {
    background-color: #f5f5f5;
    height: 100px;
    padding-top: 40px;
}

nav {
    background-color: #f5f5f5;
}

.nav-link {
    color: #000000;
    font-size: 1.2em;
    padding-left: 0 !important;
padding-right: 16px !important;

}

.nav-link:hover {

    text-decoration: underline;
}




footer {
    background-color: #333;
    color: #f5f5f5
}